# Copia questo file in .env e modifica i valori
# Per uso locale: lascia DB_HOST=db (postgres del docker-compose)
# Per AWS: imposta DB_HOST=<endpoint-RDS>

DB_HOST=db
DB_PORT=5432
DB_NAME=cloudproject
DB_USER=postgres
DB_PASSWORD=Vmware1!
DB_SSL=false

JWT_SECRET=cambia-questa-stringa-in-una-random-di-32-caratteri-min

INSTANCE_ID=local-dev
